:root {
    font-size: 16px;
}
h1 {
    text-align: center; border: 2px solid black; padding: 3%;  font-family: 'Josefin Sans', sans-serif;
}
h2 {
    text-align: left;font-family: 'Josefin Sans', sans-serif; 
}
p {
    font-family: 'Raleway', sans-serif; text-align: left;
}
ol, ul {font-family: 'Montserrat', sans-serif; text-align: left;
}
h3 {
    text-align: center;
}
div {
    text-align: left;
}